$font-stack: Helvetica, sans-serif;
$font-title: 'Montserrat', sans-serif;
$bgWhite: white;



body {
   font: 100% $font-stack;
   background-color: #f2f2f2;
   margin: 0;
}

h2 {
   font-size: 55px;
   font-weight: 400;
   font-family: $font-title;
}

h3 {
   font-family: $font-stack;
}

h5 {
   font-family: $font-title;
}

.organic-bread {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url(./img/Bakertheme.jpg);
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   color: $bgWhite;
   font-size: 18px;
   height: 900px;
  
   img {
      width: 140px; 
      background: none;
   }

   div {
      margin-left: 500px;
      position: relative;
      padding: 30px 30px;
      width: 500px;   
   }

   p {
      line-height: 2;
      font-size: 1.125rem;
      text-shadow: 2px 2px 8px rgba(0,0,0,0.25);
      margin: 20px 0 0;
   }
}

.menu-but {
   color: $bgWhite;
   border: 2px solid $bgWhite;
   background-color: transparent;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin: 30px auto 0;
   padding: 20px 50px;
   font-weight: 700;
   font-size: 16px;
   border-radius: 30px;
}


.delicious-baking {
   .list {
      display: grid;
      grid-template-columns: repeat(3, 35%);
      position: relative;
      padding: 100px;
   }

   h2 {
      display: flex;
      justify-content: center;
   }

   h5 {
      font-size: 1.25rem;
      font-weight: 400;
   }

   p {
      width: 250px;
      font-size: 16px;
      line-height: 1.6;
   }
   
   img {
      width: 65px;
      height: 65px;
      margin-right: 30px;
      margin-top: 20px;
   }
   
   .list-item {
      display: flex;
   }

  
}


.our-mission {
   img { 
    
      height: 800px; 
      width: 100%;
      object-fit: cover;
      object-position: 50% 0%;
   }

   div {
      position: relative;
      width: 551px;
      margin: -285px calc(((100% - 1140px) / 2)) 37px auto;
      background-color: $bgWhite;
      box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      h3 {
         font-size: 2.5rem;
      }

      P {
         margin-top: 20px 0 0;
         line-height: 2;
      }

      button {
         background-color: transparent;
         text-transform: uppercase;
         letter-spacing: 1px;
         margin: 30px auto 0 0;
         padding: 20px 50px;
         font-weight: 700;
         font-size: 16px;
         border-radius: 30px;
      }
   }
}

.about-bakery {
   
   .table{
      background-color: $bgWhite;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 50px;
      width: 500px;
      height: auto;
   }

   h2 {
      margin: 0 auto 0 0;  
   }

   p {
      line-height: 2.2;
      margin: 20px auto 0 0;
   }
   
   .div1 {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 5px));
      gap: 10px;
      min-height: 281px
   }

   .title {
      padding: 10px 10px 10px 0;
      
   }
   a {
    cursor: pointer;
    text-decoration: underline;
   }
}