@mixin font-face(
  $font-name,
  $font-path,
  $font-weight: 400,
  $font-style: normal
) {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url('#{$font-path}.ttf') format('truetype');
  }
}

@include font-face('Montserrat', '../fonts/Montserrat-Regular', 400, 'normal');
@include font-face('Montserrat', '../fonts/Montserrat-SemiBold', 700, 'bold');
@include font-face(
  'Open Sans',
  '../fonts/OpenSans_SemiCondensed-Regular',
  400,
  'normal'
);
@include font-face(
  'Open Sans',
  '../fonts/OpenSans_SemiCondensed-SemiBold',
  700,
  'bold'
);
