$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-default: 'helvetica', sans-serif;

$bg-primary: white;
$bg-secondary: #f2f2f2;
$text-dark: #000;
$text-light: #fff;

$mobile-size: 768px;
$tablet-size: 992px;
