@use 'variables' as *;
@use 'fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin responsive($screen) {
  @media screen and (max-width: $screen) {
    @content;
  }
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: $font-default;
  line-height: 1.6;
  background-color: $bg-primary;

  @include responsive($tablet-size) {
    font-size: 16px;
    line-height: 1.5;
  }

  @include responsive($mobile-size) {
    font-size: 14px;
    line-height: 1.4;
  }
}

h2 {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  font-size: 55px;

  @include responsive($tablet-size) {
    font-size: 48px;
  }

  @include responsive($mobile-size) {
    font-size: 36px;
  }
}

h3 {
  font-family: $font-default;
}

h5 {
  margin: 0 1px 0 0;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include responsive($tablet-size) {
    font-size: 1.1rem;
  }

  @include responsive($mobile-size) {
    font-size: 1rem;
  }
}

.organic-bread {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 900px;
  color: $text-light;
  font-size: 18px;
  text-align: center;
  background-image: linear-gradient(0deg, rgb(0 0 0 / 45%), rgb(0 0 0 / 45%)),
    url('../images/baker-theme.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include responsive($tablet-size) {
    height: auto;
  }

  @include responsive($mobile-size) {
    height: auto;
    padding: 20px;
  }

  &__logo {
    width: 140px;
    background: none;
  }

  &__block {
    position: relative;
    width: 500px;
    margin-left: calc(50% - 500px);
    padding: 30px;

    @include responsive($tablet-size) {
      width: 100%;
      margin-left: 0;
    }

    @include responsive($mobile-size) {
      width: 100%;
      margin-left: 0;
      padding: 20px;
    }
  }

  &__text {
    margin: 20px 0 0;
    font-size: 1.125rem;
    line-height: 2;
    text-shadow: 2px 2px 8px rgb(0 0 0 / 25%);
  }
}

.menu-but {
  margin: 30px auto 0;
  border: 2px solid $bg-primary;
  border-radius: 30px;
  padding: 20px 50px;
  color: $text-light;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  animation-duration: 3s;

  &:hover {
    color: $text-dark;
    background-color: $bg-primary;
    cursor: pointer;
  }
}

.delicious-baking {
  background-color: $bg-secondary;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1140px;
    min-height: 740px;
    margin: 0 auto;

    @include responsive($tablet-size) {
      max-width: 100%;
      min-height: auto;
      padding: 20px;
    }

    @include responsive($mobile-size) {
      max-width: 100%;
      min-height: auto;
      padding: 20px;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 418px;
    grid-gap: 20px;

    @include responsive($mobile-size) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .list__item {
    display: flex;
  }

  &__title {
    margin: 60px auto 0;
    text-align: center;
  }

  &__content {
    padding: 0 0 0 30px;
  }

  &__sub-title {
    font-weight: 400;
    font-size: 1.25rem;
  }

  &__description {
    margin: 20px auto 0 0;
    font-family: $font-primary;
    font-size: 16px;
    line-height: 1.6;
  }

  &__image {
    width: 65px;
    height: 65px;
  }
}

.our-mission {
  position: relative;
  padding-bottom: 200px;
  font-family: $font-primary;
  background-color: $bg-secondary;

  &__image {
    width: 100%;
    height: 803px;
    margin-top: 0;
    margin-bottom: 0;
    object-fit: cover;
    object-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    position: absolute;
    bottom: 5vh;
    left: 50vw;
    max-width: 551px;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
    background-color: $bg-primary;

    @include responsive($tablet-size) {
      left: 5vw;
      max-width: 90%;
    }

    @include responsive($mobile-size) {
      left: 5vw;
      max-width: 90%;
    }
  }

  &__group {
    padding: 30px;
  }

  &__title {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 2.5rem;
  }

  &__text {
    margin-top: 20px 0 0;
    line-height: 2;
  }

  &__button {
    margin: 30px auto 0 0;
    border: 2px solid $text-dark;
    border-radius: 30px;
    padding: 20px 50px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover,
    &:active {
      color: $text-light;
      background-color: $text-dark;
      cursor: pointer;
    }
  }
}

.about-bakery {
  min-height: 609px;
  background-color: $bg-secondary;

  &__content {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;

    @include responsive($tablet-size) {
      flex-direction: column;
      padding: 20px;
    }

    @include responsive($mobile-size) {
      flex-direction: column;
      padding: 20px;
    }
  }

  &__table {
    width: 95%;
    height: auto;
    padding: 30px 50px;
    background-color: $bg-primary;

    @include responsive($tablet-size) {
      width: 100%;
      padding: 20px;
    }

    @include responsive($mobile-size) {
      width: 100%;
      padding: 20px;
    }
  }

  &__title {
    margin: 0 auto 0 0;
  }

  &__text {
    margin: 20px auto 0 0;
    line-height: 2.2;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 5px));
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 281px;
    font-family: $font-secondary;

    @include responsive($mobile-size) {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &__link-item {
    color: $text-dark;
    text-decoration: none;
  }

  &__image {
    width: 100%;
    background-image: url('../images/happy-man.jpg');
    background-position: center;
    background-size: cover;
  }
}

.bakery-items {
  display: flex;
  flex-direction: column;
  background-color: $bg-primary;

  &__title {
    margin: 60px auto 0;
    line-height: 1.1;
  }

  &__text {
    max-width: 785px;
    margin: 30px auto 0;
    font-size: 1.125rem;
    font-style: italic;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 292px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .table-list {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 796px;
    margin: 30px auto 0;
    grid-gap: 0px;

    @include responsive($tablet-size) {
      grid-template-columns: 1fr 1fr;
    }
    @include responsive($mobile-size) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    max-width: 100%;
    padding: 50px 30px 30px;
  }

  &__card-title {
    margin: 32px 0 0;
    font-weight: 400;
  }

  &__card-description {
    margin: 20px 0 0;
    font-family: $font-secondary;
    font-size: 16px;
    font-style: italic;
    line-height: 1.6;
  }

  &__price {
    margin: 20px 0 0;
    font-weight: 700;
  }
}

.footer {
  color: $text-light;
  background-color: #333333;

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 99px;
    @include responsive($tablet-size) {
      flex-direction: column;
      text-align: center;
      gap: 15px;
      padding: 15px;
    }

    @include responsive($mobile-size) {
      flex-direction: column;
      text-align: center;
      gap: 15px;
    }
  }

  &__text {
    font-family: $font-secondary;
    font-size: 0.875rem;
    line-height: 1.6;
  }

  &__tel {
    text-underline-offset: 4px;
    color: $text-light;
  }

  &__address {
    font-family: $font-secondary;
    font-size: 0.875rem;
    line-height: 1.6;
    font-style: normal;
  }
}
